*{
    margin: 0;

}
body{
    background-color: yellow;
    height: 100%;
}
@keyframes cambiocolores{
    0%{
        background-color: red;
    }
    25%{
        background-color: blue;
        transform: scale(0.5);
    }
    50%{
        background-color: blue;
        transform: scale(1.2);
    }
    75%{
        background-color: blue;
        transform: scale(0.5);
    }
    100%{
        background-color: red;
    }
}
.circulo{

    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    animation: cambiocolores 5s infinite,
                    volar2 5s infinite;

    
    margin-top: 200px;
}

@keyframes volar{
    0%{}

    20%{
        transform: translate(100px, -0px) rotate(45deg)
    }
    30%{
        transform: translate(300px, 10px) rotate(90deg)
    }
    40%{
        transform: translate(500px, -200px) rotate(135deg)
    }
    50%{
        transform: translate(750px, -200px) rotate(180deg)
    }
}
@keyframes volar2{
    0%{
        transform: translate(10px, 10px)
    }

    50%{
        transform: translate(700px, 300px) 
    }
    100%{
        transform: translate(1200px, 100px) 
    }
}

.barra{
    background-color: red;
    width: 150px;
    height: 50px;
    border-radius: 07%;
    animation: volarBarra 5s infinite;

    
    margin-top: 200px;
    
}
@keyframes volarBarra{
    0%{
        transform: translate(10px, 100px)
    }

    50%{
        transform: translate(700px, 100px) 
    }
    100%{
        transform: translate(1200px, 100px) 
    }
}
